body{
    background-color: black;
    color: white;
}

main{
    width: 90%;
    margin: 0 auto;
}

header {
    width: 99%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25%;
    border-bottom: solid #ede300 1px;
    padding: 10px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

header ul{
    display: flex;
    gap: 20px;
    list-style: none;
    
    
}

header li{
    padding: 5px;
    cursor: pointer;
    color: white;
    font-size: 1.6em;
}

header li:hover{
    -webkit-box-shadow:0px 0px 20px 6px rgba(171,255,46,0.64);
    -moz-box-shadow: 0px 0px 20px 6px rgba(171,255,46,0.64);   
    box-shadow: 0px 0px 20px 6px rgba(171,255,46,0.64);
    border-radius: 20px;
}

header a{
    text-decoration: none;
}

header img{
    border: solid white 0.05px;
    border-radius: 15px;
    padding: 6px;
    cursor: pointer;
    color: white;
    width: 130px;
}



header img:hover{
    -webkit-box-shadow:0px 0px 26px 7px rgba(171,255,46,0.64);
    -moz-box-shadow: 0px 0px 26px 7px rgba(171,255,46,0.64);   
    box-shadow: 0px 0px 26px 7px rgba(171,255,46,0.64);
}

.about{
    display: flex;
    gap: 10%;
    padding-top: 6%;
    padding-bottom: 6%;
    align-items: center;
    border-bottom: solid #ede300 1px;
    justify-content: center;
}


.myBeautifulFace{
    width: 20%;
    height: 20%;
    border-radius: 10px;
    filter: grayscale(35%);
    border: solid #ede300 0.1px;
}


.about-container{
    width: 60%;
}

.about-container img{
    width: 40px;
    height: 40px;
}


.about-description{
    font-size: 1.5em;
}

.about-description-name{
    font-size: 1.2em;
    font-style: italic;
    margin-top: -10px;
}

.portuguese, .english{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-top: 30px;   
}

.portuguese-text, .english-text{
    text-align: justify;
}


.days-container{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;

}


.days-container a{
    width: 30%;
    text-align: center;
    height: 50px;
    background-color: black;
    border-radius: 40px;
    color: white;
    font-weight: 900;
    font-variant-caps: all-small-caps;
    font-size: 1.8em;
    border: solid white 1px;
    text-decoration: none;
    padding: 2px;
    transition: 0.3s ease;
    

}

.days-container a:hover{
    color: black;
    background: gainsboro;
    opacity: 0.8;
}

.days{
    margin-top: 5%;
    border-bottom: solid #ede300 1px;
    padding: 30px;
}

.days h1{
    width: 30%;
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    font-size: 2.4em;
    border-bottom: #ede300 solid 1px;
}

.days h4{
    text-align: right;
    font-size: 1.6em;
}

.acknowledgement{
    position:relative;
	bottom:0;
	width:100%;   
    text-align: center;
}

.acknowledgement a{
    text-decoration: none;
    color: #ede300;
}


