body{
    background-color: black;
    text-align: center;
    color: white;
}

main{
    width: 90%;
    margin: 0 auto;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
    border-bottom: solid #ede300 1px;
    padding: 10px;
}

header ul{
    display: flex;
    gap: 20px;
    list-style: none;
    
}

header li{
    padding: 5px;
    cursor: pointer;
    color: white;
}

header li:hover{
    -webkit-box-shadow:0px 0px 20px 6px rgba(171,255,46,0.64);
    -moz-box-shadow: 0px 0px 20px 6px rgba(171,255,46,0.64);   
    box-shadow: 0px 0px 20px 6px rgba(171,255,46,0.64);
    border-radius: 20px;
}

header h3{
    border: solid white 0.05px;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    color: white;
}

header h3:hover{
    -webkit-box-shadow:0px 0px 26px 7px rgba(171,255,46,0.64);
    -moz-box-shadow: 0px 0px 26px 7px rgba(171,255,46,0.64);   
    box-shadow: 0px 0px 26px 7px rgba(171,255,46,0.64);
}

body button{
    border-radius: 50px;
    width: 20%;
    background-color: black;
    border: solid white 1px;
    color: white;
    font-size: 150%;
    font-weight: 900;
    font-variant-caps: all-small-caps;
    padding: 20px;
    margin-top: 15%;
}

body button:hover{
    -webkit-box-shadow:0px 0px 20px 6px rgba(171,255,46,0.64);
    -moz-box-shadow: 0px 0px 20px 6px rgba(171,255,46,0.64);   
    box-shadow: 0px 0px 20px 6px rgba(171,255,46,0.64);
    cursor: pointer;
}

.acknowledgement{
    position:absolute;
	bottom:0;
	width:90%;
    border-top: solid #ede300 0.5px;
    
}

.acknowledgement a{
    text-decoration: none;
    color: #ede300;
}

