*{
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

main{
    width: 90%;
    margin: 0 auto;
}

/* ***************************** START ***************************** */
/* ********** PROJECT PATTER - HEADER / FOOTER / SCROLL ********** */

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25%;
    border-bottom: solid #ede300 1px;
    padding: 10px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

header ul{
    display: flex;
    gap: 20px;
    list-style: none;
    
    
}

header li{
    padding: 5px;
    cursor: pointer;
    color: white;
    font-size: 1.6em;
}

header li:hover{
    color: #ede300;
}

header a{
    text-decoration: none;
}

header img{
    border: solid #ede300 0.05px;
    border-radius: 15px;
    padding: 6px;
    cursor: pointer;
    color: white;
    width: 130px;
}



header img:hover{
    -webkit-box-shadow:0px 0px 26px 7px rgba(171,255,46,0.64);
    -moz-box-shadow: 0px 0px 26px 7px rgba(171,255,46,0.64);   
    box-shadow: 0px 0px 26px 7px rgba(171,255,46,0.64);
}

.acknowledgement{
    position: absolute;
	bottom:0;
	width:90%;
    border-top: solid #ede300 0.5px;
        
}

.acknowledgement a{
    text-decoration: none;
    color: #ede300;
}

.acknowledgement p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body::-webkit-scrollbar {
    width: 15px; 
}
  
body::-webkit-scrollbar-track {
    background: #ede300; 
    width: 10px;
}
  
 body::-webkit-scrollbar-thumb {
    background-color: black;   
    border-radius: 30px;       
    border: 1px solid #ede300;
}



/* ****************************** END ****************************** */
/* ********** PROJECT PATTER - HEADER / FOOTER / SCROLL ********** */



main{
    width: 90%;
    margin: 0 auto;
    
}

main button, input, select{
    border: solid #ede300 1px;
    border-radius: 10px;
    padding: 5px;
}

.content-container {
    background-color: black;
    color: white;
    margin-top: 8%;
    max-width: 450px;
    border: 1.5px solid #ede300;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-top: 15px;
    margin-bottom: 8%;
}


.positive, .negative, .userLanguage {
    display: none;
}

.title{
    padding: 30px;
}

.title h1{
    padding-bottom: 15px;
    border-bottom: 1px solid #ede300;
    max-width: 440px;
    text-transform: uppercase;

}

.personalQuestions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.personalQuestions input{
    margin-top: 5px;
}


.userLanguage {
    margin-bottom: 10px;
}

.userLanguage h2{
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 430px;
}

.userLanguage h4{
    margin-bottom: 15px;
}

.positive img{
    height: 500px;
    max-width: 430px;   
}

.positive h2{
    margin-bottom: 15px;
}

.positive, .negative{
    margin-bottom: 3%;
}

.negative img{
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 400px
}

.aluraBtn{
    border: solid #ede300 1px;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3 ease; 
}

.aluraBtn:hover{
    font-size: 1.3em;
}

