*{
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
}


header {
    margin: 50px;
}

main {
    max-width: 450px;
    border: 1.5px solid black;
    padding-bottom: 30px;
    padding-top: 30px;

    display: flex;
    flex-direction:column;
    gap: 18px;
}

main h2 {
    font-size: 33px;
}

#tip {
    font-size: large;
    padding-bottom: 5px;
}

#game-machine h3{
    padding-bottom: 10px;
}

#game-machine button{
    width: 100px;
}

.attempts {
    display: flex;
    flex-direction: row;
}
