body {
    color: white;
    background-color: black;
    margin: 0 auto;
    text-align: center;
}

main{
    width: 200px;
    margin: 0 auto;
    margin-top: 120px;
    
}

.result{
    text-align: right;
    width: 190px;
}

.operation-result{
    font-size: large;
}

.operation {
    font-size: larger;
}

.clean-result{
    width: 200px;
    margin: 0 auto;
    padding-bottom: 2px;
}

.clean-result button{
    height: 35px;
    width: 97px;
    border-radius: 50px;
}

.numbers-operators{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    margin: 0 auto;

}

.numbers-operators button{
    border-radius: 50px;
    width: 25%;
    font-size: large;
}
